.line-content{
  margin-top: 20px;
}
main{
  position: relative;
  max-width: 50%;
  margin-left: 300px;
}
#button-content{
  text-align: center;
  margin-top: 10px;
}
.form-header{
  border: 1px solid black;
  text-align: center;
  max-width: 50%;
  margin-left: 300px;
}